/*--------------*/
html, button, input, select, textarea{
	color: #222;
}

body{
	font-size: 1em;
	line-height: 1.4px;
	font: 16px 'Josefin Sans', sans-serif;
	text-align: justify;
}

hr{
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0px;
}

h1{
	color: #222;
	font-family: 'Quicksand', sans-serif;
	text-shadow:0px 2px 3px #000000;
}

.container{
	width: 90%;
	margin: 0 5%;
}

.header-container{
	border-bottom: 20px solid #e44d26;
}

.footer-container,
.main 
aside{
	border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside{
	background: #f16529;
}

.title{
	color: white;
}
/*---------------nav------------------*/
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

}

nav a{
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background: #e44d26;
	transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
}

nav a:hover, nav a:visited{
	color: white;
}

nav a:hover{
	/*text-decoration: underline;*/
}
/*--------------main------------------*/
.main{
	padding: 30px 0;
}

.main article h1{
	font-size: 2em;
}

.main aside{
	color: white;
	padding: 0px 5% 10px;
	text-align: justify;
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FF6900), to(#A00B28))
}

.footer-container footer{
	color: white;
	padding: 20px 0;
	font-family: 'Pacifico', cursive;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}

/*----------resoluciones mayores a 480------------*/

@media only screen and (min-width: 480px){
	
	h1{
		color: red;
	}

	nav a{
		float: left;
		width: 27%;
		margin: 25px 2%;
		margin-bottom: 0;
	}

	nav li:first-child a{
		margin-left: 0;
	}

	nav li:last-child a{
		margin-right: 0;
	}

	nav ul li{
		display: inline;
	}
}

@media only screen and (min-width: 760px){
	.title{
		float: left;
	}

	nav{
		float: right;
		width: 38%;
	}

	.main aside{
		float: right;
		width: 28%;
	}

	.main article{
		float: left;
		width: 57%;
	}
}

@media only screen and (min-width: 1100px){
	.content{
		width: 1026px;
		margin: 0 auto;
	}
}